@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

@font-face {
    font-family: commit-mono;
    src: url("shared/ui/fonts/CommitMono-Italic.otf") format('opentype');
}

@font-face {
    font-family: akony;
    src: url("shared/ui/fonts/Akony.ttf") format('truetype');
}

@font-face {
    font-family: helvetica;
    src: url("shared/ui/fonts/Helvetica-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: helvetica;
    src: url("shared/ui/fonts/Helvetica-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: mulish;
    src: url("shared/ui/fonts/Mulish-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: mulish;
    src: url("shared/ui/fonts/Mulish-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: var(--font-family-main);
    -webkit-font-smoothing: antialiased; // TODO: consider it
    -moz-osx-font-smoothing: grayscale; // TODO: consider it
}

.app {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    -webkit-box-align: center;
    min-height: 100vh;
    width: 100%;
    background: var(--app-bg);
}


.custom-field {
    display: flex;
    padding: 16px;
    border-radius: 16px;
    border: var(--field-border);
    background: var(--field-bg);
}

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    // Rows
    > div {
        display: grid;

        // Columns
        > * {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 24px;
        }

        // Tbody rows
        &:not(:first-child) {
            border-radius: 16px;
            background: var(--table-row-bg);
        }

        // Thead rows
        &:first-child {
            > span {
                font: var(--font-col-h);
                color: var(--table-col-color);
                white-space: nowrap;
                padding: 0 24px;
            }
        }

        // First column
        > div:first-child {
            justify-content: flex-start;
        }

        // Last column
        > div:last-child {
            justify-content: flex-end;
        }

    }
}

// Tbody rows for extended table
.table.extended > div:not(:first-child) {
    // Block under columns
    > div:last-child {
        justify-content: center;
        grid-column: 1 / -1;
    }

    // Last column
    > div:nth-last-child(2) {
        justify-content: flex-end;
    }
}

.table > div > div > .two-line-cell {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    *:first-child {
        font: var(--font-main-regular);
        color: var(--black);
    }

    *:last-child {
        font: var(--font-secondary);
        color: var(--light-grey);
    }
}

.modal-title {
    text-align: center;
    color: #46404B;
    font: var(--font-h3);
}

.h-stack {
    display: flex;
}

.v-stack {
    display: flex;
    flex-direction: column;
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 8px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.gap-64 {
    gap: 64px;
}

.gap-96 {
    gap: 96px;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyAround {
    justify-content: space-around;
}


.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}
