.ModalOverlay {
    position: fixed;
    inset: 0;
    background: var(--modal-overlay);
    display: flex;
    align-items: center;
    justify-content: center;

    .ModalContainer {
        border-radius: 16px;
        position: relative;
        padding: 40px;
        border: var(--modal-border);
        background: var(--modal-bg);

        .CloseButton {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
}
