.BalanceWrapper {
    padding: 8px;
    width: 132px;
    border-radius: 8px;
    border: var(--balance-block-border);
    background-color: var(--balance-block-bg);
    font: var(--font-main-regular);

    div:first-child {
        color: var(--active-balance-fg);

        > svg {
            fill: var(--active-balance-fg);
        }
    }

    div:last-child {
        color: var(--frozen-balance-fg);

        > svg {
            fill: var(--frozen-balance-fg);
        }
    }
}
