.DepositGridTemplate > div {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1.7fr 1fr 1fr 1fr;
}

.WithdrawalGridTemplate > div {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 2fr 1.7fr 1fr 1fr 1fr;
}

.completed {
    background: linear-gradient(135deg, #22EF10 0%, #3EC0F8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.completed.auto {
    background: linear-gradient(135.48deg, #3F9AEF 31.21%, #7BFFE7 121.47%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cancelled,
.failed {
    background: linear-gradient(136.89deg, #000 -5.56%, #F00 101.9%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pending,
.reviewing {
    background: linear-gradient(145.56deg, #FFCB11 -3.53%, #FF7511 100.71%);
    background-clip: text;
    -webkit-text-fill-color: transparent;}

.Extended {
    justify-self: center;
    width: 359px;
}
