.DepositGridTemplate > div {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1.7fr 1fr 1fr 1fr;
}

.WithdrawalGridTemplate > div {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 2fr 1.7fr 1fr 1fr 1fr;
}

.completed {
    color: green;
}

.completed.auto {
    color: skyblue;
}


.cancelled,
.failed {
    color: red;
}

.pending,
.reviewing {
    color: yellow;
}

.Extended {
    justify-self: center;
    width: 359px;
}
