.checkbox {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    margin: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--global-grey);
    border-radius: 2px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.checkbox:checked {
    border-color: var(--accent);
}

.checkbox::before {
    content: "";
    width: 12px;
    height: 8px;
    clip-path: path("M10.95 1.79497C11.0455 1.70273 11.1217 1.59238 11.1741 1.47038C11.2265 1.34837 11.2541 1.21715 11.2553 1.08437C11.2564 0.951594 11.2311 0.819915 11.1808 0.697018C11.1306 0.574122 11.0563 0.462469 10.9624 0.368577C10.8685 0.274684 10.7569 0.200431 10.634 0.15015C10.5111 0.099869 10.3794 0.0745675 10.2466 0.0757214C10.1138 0.0768752 9.98263 0.104461 9.86062 0.15687C9.73862 0.209279 9.62827 0.285461 9.53603 0.380972L4.58603 5.33097L2.46503 3.20997C2.37218 3.11706 2.26195 3.04335 2.14061 2.99304C2.01928 2.94273 1.88923 2.91682 1.75788 2.91677C1.49261 2.91668 1.23817 3.02196 1.05053 3.20947C0.862886 3.39698 0.757418 3.65135 0.757324 3.91662C0.757231 4.18189 0.862519 4.43633 1.05003 4.62397L3.80803 7.38197C3.91018 7.48417 4.03146 7.56524 4.16496 7.62056C4.29845 7.67587 4.44153 7.70434 4.58603 7.70434C4.73052 7.70434 4.87361 7.67587 5.0071 7.62056C5.14059 7.56524 5.26188 7.48417 5.36403 7.38197L10.95 1.79497Z");
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent);
}

.checkbox:checked::before {
    transform: scale(1);
}

.label {
    color: var(--global-grey);
}
