.app.dark {
  --black: #0E1503;
  --dark_grey: #23271D;
  --grey: #474A40;
  --light_grey: #AFB4A8;
  --extra_light_grey: #E0E4D3;
  --white: #FDFFF9;
  --accent: #B7EF3F;
  --dark_accent: #829F44;
  --pale_accent: #E7F9C3;
  --blue: #3F9AEF;
  --light_blue: #7FAED9;
  --gradient_blue: linear-gradient(135deg, rgba(63, 154, 239, 1) 31.21%, rgba(123, 255, 231, 1) 121.47%);
  --yellow: #F8E643;
  --red: #F93D3D;
}
