.app.light {
    --black: #0F0021;
    --dark-grey: #312739;
    --grey: #46404B;
    --light-grey: #AFAAB6;
    --extra-light-grey: #E3E1E8;
    --white: #F8F5FE;
    --accent: #9E68F7;
    --dark-accent: #6B48A4;
    --pale-accent: #DDC8FF;
    --register-button-text-color: #1B1B1B;
    --theme-toggle-bg: #E3E1E8;
}
