body.light {
    --black: #0F0021;
    --dark-grey: #312739;
    --grey: #46404B;
    --light-grey: #AFAAB6;
    --extra-light-grey: #E3E1E8;
    --white: #F8F5FE;
    --accent: #9E68F7;
    --dark-accent: #6B48A4;
    --pale-accent: #DDC8FF;
    --back-btn-text-color: var(--grey);
    --register-button-text-color: var(--black);
    --theme-toggle-bg: var(--extra-light-grey);
    --modal-overlay: rgb(69 69 69 / 60%);
    --modal-bg: var(--white);
    --modal-border: 1px solid var(--grey);
    --loader: var(--black);
    --app-bg: var(--white) no-repeat center / cover;
}
