.app.light {
  --black: #0F0021;
  --dark_grey: #312739;
  --grey: #46404B;
  --light_grey: #AFAAB6;
  --extra_light_grey: #E3E1E8;
  --white: #F8F5FE;
  --accent: #9E68F7;
  --dark_accent: #6B48A4;
  --pale_accent: #DDC8FF;
  --blue: #3F9AEF;
  --light_blue: #7FAED9;
  --gradient_blue: linear-gradient(135deg, rgba(63, 154, 239, 1) 31.21%, rgba(123, 255, 231, 1) 121.47%);
  --yellow: #F8E643;
  --red: #F93D3D;
}
