body.dark {
    --black: #0E1503;
    --dark-grey: #23271D;
    --grey: #474A40;
    --light-grey: #AFB4A8;
    --extra-light-grey: #E0E4D3;
    --white: #FDFFF9;
    --accent: #B7EF3F;
    --dark-accent: #829F44;
    --pale-accent: #E7F9C3;
    --back-btn-text-color: var(--light-grey);
    --register-button-text-color: var(--black);
    --theme-toggle-bg: var(--grey);
    --modal-overlay: rgb(49 49 49 / 60%);
    --modal-bg: var(--light-grey);
    --modal-border: 2px solid var(--extra-light-grey);
    --contrast: var(--white);
    --grey-contrast: var(--light-grey);
    --secondary: var(--grey);
    --field-icon: var(--extra-light-grey);
    --main: var(--black);
    --app-bg: #1B1B1B url("shared/ui/img/bg.png") no-repeat center;
    --input-text-color: var(--white);
    --field-border: 'none';
    --field-bg: linear-gradient(180deg, rgb(120 124 113 / 45%) -148.5%, rgb(255 255 255 / 45%) 8.66%, rgb(116 125 97 / 36%) 248.5%);
    --field-1-border: 1px solid var(--grey);
    --logo-user-type: #454545;
    --header-bg: rgb(22 25 15 / 50%);
    --header-border: "none";
    --switch-bg-color: var(--grey);
    --switch-is-active-bg-color: var(--accent);
    --switch-span-bg-color: var(--white);
    --switch-span-active-bg-color: var(--black);
    --table-row-bg: linear-gradient(180deg, rgb(116 125 97 / 45%) -148.5%, rgb(255 255 255 / 45%) 8.66%, rgb(116 125 97 / 36%) 248%);
    --table-col-color: var(--light-grey);
    --kebab-menu-bg: var(--light-grey);
    --kebab-menu-svg-stroke: var(--grey);
    --bd-border: 1px solid var(--dark-grey);
    --balance-block-bg: none;
    --balance-block-border: 1px solid var(--light-grey);
    --active-balance-fg: var(--accent);
    --frozen-balance-fg: var(--light-blue);
    --frozen-balance-icon-fill: var(--frozen-balance-fg);
    --header-link-fg: var(--light-grey);
    --logo-pay-fg: var(--grey);
    --h3-fg: var(--light-grey);
    --plus-fill: var(--light-grey);
}
