body.light {
    --black: #0F0021;
    --dark-grey: #312739;
    --grey: #46404B;
    --light-grey: #AFAAB6;
    --extra-light-grey: #E3E1E8;
    --white: #F8F5FE;
    --accent: #9E68F7;
    --dark-accent: #6B48A4;
    --pale-accent: #DDC8FF;
    --back-btn-text-color: var(--grey);
    --register-button-text-color: var(--black);
    --theme-toggle-bg: var(--extra-light-grey);
    --modal-overlay: rgb(69 69 69 / 60%);
    --modal-bg: var(--white);
    --modal-border: 1px solid var(--grey);
    --contrast: var(--black);
    --grey-contrast: var(--grey);
    --secondary: var(--light-grey);
    --field-icon: var(--light-grey);
    --main: var(--white);
    --app-bg: var(--white) no-repeat center / cover;
    --input-text-color: var(--grey);
    --field-border: 1px var(--grey) solid;
    --field-bg: var(--white);
    --field-1-border: 1px solid var(--light-grey);
    --logo-user-type: var(--black);
    --header-bg: "none";
    --header-border: 1px solid var(--grey);
    --switch-bg-color: var(--black);
    --switch-is-active-bg-color: var(--accent);
    --switch-span-bg-color: var(--white);
    --switch-span-active-bg-color: var(--white);
    --table-row-bg: radial-gradient(101.5% 101.5% at 50% 50%, rgb(254 254 254 / 100%) 0%, rgb(225 227 221 / 95%) 45%, rgb(116 125 97 / 80%) 100%);
    --table-col-color: var(--grey);
    --kebab-menu-bg: var(--white);
    --kebab-menu-svg-stroke: var(--light-grey);
    --bd-border: 1px solid var(--dark-grey);
    --balance-block-bg: var(--gradient-blue);
    --balance-block-border: 1px solid var(--grey);
    --active-balance-fg: var(--black);
    --frozen-balance-fg: var(--gradient-blue);
    --frozen-balance-icon-fill: url("#paint0_linear_1366_6581");
    --header-link-fg: var(--grey);
    --logo-pay-fg: var(--black);
    --h3-fg: var(--grey);
    --plus-fill: var(--dark-grey);

    --select-border: 2px solid var(--light-grey);
    --select-open-border: 2px solid var(--grey);
    --opt-fg: var(--light-grey);
    --opt-on-hover-fg: var(--grey);
    --selected-opt-fg: var(--grey);
    --selected-opt-on-hover-fg: var(--grey);
}
