.Nav {
    min-width: 600px;
}

header {
    width: 100%;
    display: flex;
    padding: 18px 40px;
    justify-content: center;
    background-color: var(--header-bg);
    border-bottom: var(--header-border);

    .Content {
        width: 100%;
        max-width: 1500px;
    }
}

.NavLink {
    text-decoration: none;
    font: var(--font-main-regular);
    color: var(--header-link-fg);
}

.NavLink.active {
    font: var(--font-main-bold);
}
